.visual-editor {
  height: 100%
}

.ant-form.visual-editor-tools {
  min-width: 200px;
  position: fixed;
  top: 10px;
  left: 50%;
  padding: 5px 12px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 25px;
  transform: translateX(-50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

.visual-editor-container {
  height: 100%;
  background-color: #f8f8f8;
  border-radius: 4px;
}

// Search bar variables
$searchHeight: 40px;
$inputHeight: 32px;

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: $searchHeight;

  &.active {
    &::before {
      top: 7px;
      bottom: 4px;
      opacity: 0;
    }

    path {
      stroke-dashoffset: -400;
    }

    p {
      pointer-events: all;

      &::before,
      &::after {
        opacity: 1;
      }
    }

    span {
      transform: scale(0);
      opacity: 0;
    }
  }

  &.remove {
    &::before {
      transition: all 200ms linear 200ms, opacity 0ms linear 0ms;
      top: $searchHeight;
      bottom: 2px;
      opacity: 1;
    }

    p {

      &::before,
      &::after {
        transition: all 0ms;
        opacity: 0;
      }
    }

    path {
      stroke-dashoffset: -800;
      transition-delay: 400ms;
    }

    span {
      transform: scale(1);
      opacity: 1;
      transition-delay: 400ms;
    }

    &.done {
      &::before {
        top: 0;
        bottom: $searchHeight;
        opacity: 1;
        transition: none;
      }

      path {
        stroke-dashoffset: 0;
        stroke-dasharray: 400;
        transition: none;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-1px);
    width: 2px;
    background: #065dab;
    bottom: $searchHeight;
    border-radius: 16px;
    opacity: 1;
    transition: all 400ms ease-in-out 500ms, opacity 200ms linear 1000ms;
  }

  path {
    stroke-dashoffset: 0;
    stroke-dasharray: 400;
    transition: all 500ms ease-in-out;
  }

  span {
    position: absolute;
    left: 0;
    height: $inputHeight;
    line-height: $inputHeight;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    color: #065dab;
    pointer-events: none;
    user-select: none;
    transition: all 400ms ease-in-out;
    opacity: 1;
    transform: scale(1);
  }

  input,
  p {
    position: absolute;
    height: $inputHeight;
    line-height: $inputHeight;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }

  input {
    border: 0;
    outline: none;
    color: transparent;
    background-color: transparent;
  }

  p {
    color: #065dab;
    pointer-events: none;
    white-space: nowrap;

    &:after,
    &:before {
      content: '';
      opacity: 0;
      width: 2px;
      height: 28px;
      vertical-align: middle;
      border-radius: 20px;
      transition: all .2s ease-in-out;
      transition-delay: 1000ms;
      display: inline-block;
    }

    &:after {
      position: relative;
      left: -1px;
      background: #065dab;
      animation: blinky 450ms linear infinite alternate;
    }
  }
}

@keyframes blinky {
  0% {
    background: transparent;
  }

  100% {
    background: #065dab;
  }
}
